button {
    color: purple;
    background: rgb(255, 155, 255);
    box-shadow: black;
    border: 3px solid #6c316d;
    border-radius: 2px;
    transition-duration: .2s;
    cursor: pointer;

}
button:hover {
    background-color: rgb(255, 0, 93);
    color: white;
    border: 3px solid #000000;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}